<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.production.teman.minesweeper_legacy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:enabled="true"
            android:name="com.production.teman.minesweeper_legacy.support.BackgroundSoundService" />
        <activity android:name=".layers.zeroLayer.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.production.teman.minesweeper_legacy.layers.secondLayer.SettingsActivity" />
        <activity android:name="com.production.teman.minesweeper_legacy.layers.secondLayer.ScoresActivity" />
        <activity android:name="com.production.teman.minesweeper_legacy.layers.secondLayer.PlayActivity" />
        <activity android:name=".items.GamemodeListItem" />
        <activity android:name="com.production.teman.minesweeper_legacy.layers.thirdLayer.GamePresetsActivity" />
        <activity android:name="com.production.teman.minesweeper_legacy.layers.firstLayer.MainActivity" />
        <activity android:name=".items.ScoresListItem" />
        <activity android:name="com.production.teman.minesweeper_legacy.layers.thirdLayer.FullScoreActivity" />
        <activity android:name=".items.fullScoreListItemActivity" />
        <activity android:name="com.production.teman.minesweeper_legacy.layers.thirdLayer.AboutActivity" />
        <activity android:name=".items.ClassicModeItem" />
        <activity android:name="com.production.teman.minesweeper_legacy.layers.fourthLayer.GameFieldActivity"></activity>
    </application>

</manifest>